.options {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	// .options__item
	&__item {
		position: relative;
		cursor: pointer;
		&:not(:last-child) {
			margin-bottom: 21px;
			@media (max-width: $tablet) {
				margin-bottom: 15px;
			}
			@media (max-width: $mobileSmall) {
				margin-bottom: 10px;
			}
		}
	}
	// .options__input
	&__input {
		width: 0;
		height: 0;
		opacity: 0;
		position: absolute;
		&:focus + .options__label {
		}
		&:checked + .options__label {
			.options__text {
				color: $mainColor;
			}
		}
		&:checked + .options__label:after {
			transform: scale(1);
		}
	}
	// .options__label
	&__label {
		display: inline-flex;
		align-items: center;
		cursor: pointer;
		gap: 10px;
		&:before {
			content: "";
			align-self: flex-start;
			width: 12px;
			height: 12px;
			flex: 0 0 12px;
			border-radius: 50%;
			border: 1px solid $mainColor;
		}
		&:after {
			content: "";
			transition: all 0.3s ease 0s;
			transform: scale(0);
			width: 6px;
			height: 6px;
			border-radius: 50%;
			background-color: $mainColor;
			position: absolute;
			left: 3px;
			top: 5px;
		}
	}
	// .options__text
	&__text {
		color: $grayColor;
		font-weight: 400;
		text-transform: uppercase;
		@media (max-width: $tablet) {
			@include adaptiveValue("font-size", 16, 14);
		}
	}
}
