//====================================================================================================
.footer {
	background-color: $mainColor;
	color: #fff;
	padding: 80px 0;
	position: relative;
	@media (max-width: em(1215)) {
		padding: 40px 0;
	}
	@media (max-width: $mobile) {
		padding: 20px 0;
	}
	// .footer__container
	&__container {
		display: grid;
		grid-template-columns: minmax(314px, 430px) 1fr;
		@media (max-width: $pc) {
			grid-template-columns: minmax(314px, 350px) 1fr;
		}
		@media (max-width: $tablet) {
			grid-template-columns: 1.2fr 2fr;
		}
		@media (max-width: em(620)) {
			grid-template-columns: 1fr;
		}
	}
	// .footer__image
	&__image {
		position: absolute;
		bottom: 0;
		min-height: 539.63px;
		@media (max-width: $tablet) {
			max-width: 250px;
			min-height: 400px;
		}
		@media (max-width: $mobile) {
			max-width: 200px;
			min-height: 300px;
		}
		@media (max-width: em(620)) {
			display: none;
		}
		img {
			width: 100%;
			height: 100%;
		}
	}
	// .footer__wrapper
	&__wrapper {
		display: flex;
		gap: 15px;
		justify-content: space-between;
		align-items: center;
		@media (max-width: em(1215)) {
			flex-direction: column;
			padding-left: 0px;
			justify-content: flex-start;
			align-items: flex-start;
		}
		@media (min-width: $tablet) {
			padding-left: 12px;
		}
		@media (min-width: em(620.98)) {
			grid-column: 2;
		}
	}
	// .footer__content
	&__content {
		@media (max-width: em(1215)) {
			display: flex;
			gap: 150px;
		}
		@media (max-width: $tablet) {
			width: 100%;
			gap: 30px;
			justify-content: space-between;
		}
		@media (max-width: em(620)) {
			justify-content: flex-start;
			gap: 50px;
		}
		@media (max-width: $mobileSmall) {
			gap: 30px;
			display: block;
		}
	}
	// .footer__menu
	&__menu {
		flex: 0 0 auto;
		@media (min-width: em(1215.98)) {
			display: flex;
			margin-bottom: 29px;
			gap: 30px;
		}
		@media (max-width: em(1215)) {
			li {
				&:not(:last-child) {
					margin-bottom: 5px;
				}
			}
		}
		@media (max-width: $mobileSmall) {
			margin-bottom: 20px;
		}
	}
	// .footer__menu-link
	&__menu-link {
		font-weight: 400;
		font-size: 14px;
		line-height: math.div(24, 14);
		text-transform: uppercase;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	// .footer__info
	&__info {
		@media (min-width: em(1215.98)) {
			display: flex;
			gap: 50px;
		}
		@media (max-width: $pc) {
			gap: 30px;
		}
	}
	// .footer__contact
	&__contact {
		font-weight: 400;
		font-size: 20px;
		line-height: math.div(24, 20);
		display: flex;
		gap: 18px;
		@media (max-width: em(1215)) {
			margin-bottom: 20px;
		}
		@media (max-width: $tablet) {
			@include adaptiveValue("font-size", 20, 14);
		}
		span {
			white-space: nowrap;
		}
		button {
			color: #c3c3c3;
		}
	}
	// .footer__socials
	&__socials {
		display: flex;
		gap: 30px;
	}
	// .footer__social-item
	&__social-item {
		flex-direction: row-reverse;
		display: flex;
		gap: 10px;
		align-items: center;
		&::before {
			transition: color 0.3s ease 0s;
			font-size: 18px;
		}
		span {
			color: #c3c3c3;
			font-weight: 400;
			font-size: 16px;
			line-height: math.div(19, 16);
		}
		// .footer__social-item_tg
		&_tg {
			@media (any-hover: hover) {
				&:hover {
					&::before {
						color: #279eda;
					}
				}
			}
		}
		// .footer__social-item_whatsapp
		&_whatsapp {
			@media (any-hover: hover) {
				&:hover {
					&::before {
						color: #49c958;
					}
				}
			}
		}
	}
	// .footer__logo
	&__logo {
		flex: 0 1 297px;
		@media (max-width: em(1215)) {
			flex: 0 1 45px;
			order: -1;
			margin-bottom: 20px;
			min-height: 45px;
		}
		@media (max-width: $mobile) {
			min-height: 30px;
			flex: 0 1 30px;
		}
		@media (max-width: $mobileSmall) {
			margin-bottom: 0px;
		}
		img {
			width: 100%;
			height: 100%;
		}
	}
}

//====================================================================================================
